<h2>Contacts List</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Names</th>
      <th>Email</th>
  </thead>
  <tbody>
    <% @contacts['connections'].each do |connection| %>
      <tr>
        <td>
          <% if connection['names'] %>
            <% connection['names'].each do |name| %>
              <%= name['displayName'] %><br/>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if connection['emailAddresses'] %>
            <% connection['emailAddresses'].each do |email| %>
              <%= email['value'] %><br/>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="pages">
  <ul class="pager">
    <% if params[:page_token] %>
      <li>
        <%= link_to "Previous", :back %>
      </li>
    <% end %>

    <% if @contacts['nextPageToken'] %>
      <li>
        <%= link_to "Next", contacts_list_path(page_token: @contacts['nextPageToken']) %>
      </li>
    <% end %>

  </ul>
</nav>
